body, html {
	max-width:100%;
	height:100%;
	padding:0;
	margin:0;
	font-family:Raleway,serif;
	font-size:1.9vh /* do tests */
}

h1 {
	font-size:5em;
	font-family:Cabin,sans-serif;
	font-weight:lighter;
	color:rgb(30,30,30);
	
	text-shadow:0px 4px 5px rgba(245,245,245,0.35);
	text-align:center;
	margin:0;
}
h2 {
	font-size:3.2em;
	font-family:Raleway,sans-serif;
	color:rgb(30,30,30);
	
	/* text-shadow:0px 2px 3px rgba(245,245,245,0.35); */
	text-align:center;
	margin:0;
}
h3 {
	font-size:2.5em;
	font-family:Cabin,sans-serif;
	font-weight:lighter;
	color:rgb(30,30,30);
	
	text-align:left;
	margin:0;
}
h4 {
	font-size:2.1em;
	font-family:Raleway,sans-serif;
	font-weight:lighter;
	color:rgb(30,30,30);
	
	text-align:center;
	margin:0;
}
h5 {
	font-size:1.7em;
	font-family:Raleway,sans-serif;
	font-weight:lighter;
	color:rgb(70,70,70);
	
	text-shadow:0px 2px 2px rgba(245,245,245,0.25);
	text-align:center;
	margin:0;
}

/* NAVIGATION BAR */
ul {	/* length of navbar is 8.8vh */
	margin:0;
	padding:0;
	position:fixed;
	width:100%;
	z-index:10;
	
	list-style-type:none;
	background-color:rgba(0,0,0,0.8);
}
	li {
		flex:0 0 15vw;	 
		border-left:1px solid rgba(255,255,255,0.1);
	}
	li.leftmost {
		border:0;
	}
	li a {
		display:block;
		width:100%;
		padding:3.4vh;
		
		color:rgb(230,230,230);
		text-align:center;
		text-decoration:none;
		
		transition:background-color 0.15s;
	}
	li a:hover {
		background-color:rgb(20,20,20);
	}

/* SPLASH SCREEN */
#splash {
	background:url(https://imgur.com/NGKPuNx.jpg) no-repeat fixed center;
	background-size:cover;
	
	box-sizing:border-box;
	padding:3em;
	height:100vh;
	
	flex-flow:column nowrap;
}
	#splash-text {
		background-color:rgba(255,255,255,0.5);
		
		/* border-radius:1em; */
		box-sizing:border-box;
		min-width:80%;
		padding:4vh;
		
		transition:background-color 0.1s;
	}
	#splash-text:hover {
		background-color:rgba(255,255,255,0.6);
		cursor: default;
	}
	#splash-line {
		min-height:0.1em;
		width:10%;
		margin:auto;
		background-color:rgba(255,255,255,0.4);
	}
	#splash-scroll {
		box-sizing:border-box;
		position:absolute;
		bottom:7vh;
		
		text-align:center;
		font:1.3em Raleway, sans-serif;
		
		transition:font-size 0.2s;
	}
	#splash-scroll:hover {
		font-size:1.5em;
	}
	#scroll-tag {
		color: rgb(245, 245, 245);
		text-decoration: none;
	}

/* ABOUT SECTION */
#about {
	background:url(https://i.imgur.com/XDkm0Xs.png) no-repeat center;
	background-size:cover;
	position:relative;
	padding-top:8.8vh;
}
	#about-header {
		background-color:rgba(100,100,100,0.2);
		padding:2em 0;
	}
		#about-header-text {
			background-color:rgba(230,230,230,0.7);
			padding:0.5em;
			width:100%;
			
			box-sizing:border-box;
			border:4px solid rgb(230,230,230);
			border-left:0;
			border-right:0;
			
			text-align:center;
			font-weight:lighter;
			color:rgb(70,70,70);
		}
	#about-body {
		padding:4% 10% 4% 10%;
		overflow:auto;
		
		box-sizing:border-box;
	}
		#about-section-wrapper {
			background-color:rgba(100,100,100,0.2);
			box-sizing:border-box;
			flex-flow:row wrap;
			
			width:100%;
			height:100%;
		}
			.about-section-component {
				flex:0.85 1 40%;
				margin:2em;
			}
			#profile-picture {
				min-width:100%;
				max-width:100%;
			}
			#about-description {
				flex-flow:column nowrap;
			}
				.about-description-text {
					color:rgb(30,30,30);
					font-size:1.5em;
					font-weight:lighter;
					text-align:center;
				}
				#about-line {
					background-color:rgba(137, 195, 115,.8);
					min-height:0.1em;
					width:40%;
					margin:auto;
				}

/* PORTFOLIO SECTION */
#portfolio {
	position:relative;
	padding-top:8.8vh;
	margin-top:10vh;
}
	#portfolio-header {
		border-top:4px solid white;
		padding:2em 0;
		
		text-align:center;
		font-weight:lighter;
		color:rgb(60,60,60);
	}
		#portfolio-header-text {
			padding:0.5em;
			width:100%;
			
			box-sizing:border-box;
		
			text-align:center;
			font-weight:lighter;
			color:rgb(30,30,30);
		}
	#portfolio-body {
		box-sizing:border-box;
		padding:2% 10% 10% 10%;
	}
		#portfolio-list {
			height:100%;
			
			display:flex;
			flex-flow:column nowrap;
			box-sizing:border-box; /* see if needed */
		}
			.portfolio-item {
				width:100%;
				margin:.8vh 0%;
			}
			.portfolio-item a {
				background-color:rgba(120,120,120,0.2);
				border-radius:.7em;
				text-decoration:none;
				color:initial;
				
				display:flex;
				flex:1 0 0;
				flex-flow:row nowrap;
				justify-content:space-around;
				align-items:flex-start;
				
				transition:background-color 0.15s;
			}
			.portfolio-item a:hover {
				background-color:rgba(120,120,120,0.3);
			}
				.portfolio-item-thumbnail {
					border-radius:.4em;
					margin:1em;
					min-width:10vw;
					
					flex:1 0 0;
					align-items:stretch;
				}
					div .thumbnail {
						display:block;
						width:100%;
						height:auto;
					}
				.portfolio-item-description {
					margin:1em 1em 1em 0;	
					flex:1 15 70%;
					flex-flow:column nowrap;
				}
					.portfolio-item-description p {
						margin:0.2em 0 0.2em 0;
						
						color:rgb(75,75,75);
						font-size:1.2em;
					}
	div .lang-line {
		min-height:0.1em;
		margin:0.8em 0 0.5em 0;
		width:10em;
	}
	div .lang-text { 
		color:white;
		display:inline-block;
		font-weight:lighter;
		padding:0 .2em;
		max-width:2000em;
	}
	div .lang-ccpp {background-color:rgb(102, 153, 0);}
	div .lang-java {background-color:rgb(253, 134, 37);}
	div .lang-html {background-color:rgb(153, 0, 153);}
	div .lang-misc {background-color:rgb(150,150,150);}
		
/* CONTACT SECTION */
#contact {
	background:url(https://imgur.com/MvtoNzl.jpg) no-repeat center;
	background-size:cover;
	padding-top:8.8vh;
}
	#contact-header {
		background-color:rgba(100,100,100,0.7);
		padding:2em 0;
	}
		#contact-header-text {
			background-color:rgba(230,230,230,0.7);
			padding:0.5em;
			width:100%;
			
			box-sizing:border-box;
			border:4px solid rgb(235,235,235);
			border-left:0;
			border-right:0;
			
			text-align:center;
			font-weight:lighter;
			color:rgb(30,30,30);
		}
	#contact-body {
		box-sizing:border-box;
		
		padding:5em 12%;
	}
		#contact-section {
			background-color:rgba(255,255,255,0.75);
			box-sizing:border-box;
			padding:2em;
			height:100%;
			width:100%;
			
			text-align:center;
		}
			.contact-section-line {
				background-color:rgba(254, 58, 100,0.6);
				min-height:0.1em;
				margin:0.3em auto 0.3em auto;
				width:80%;
			}
			#contact-section p {
				margin:5px;
				font-size:1.25em;
				color:rgb(60,60,60);
			}
			/* #contact-section a:link {
				color:rgba(254, 58, 100,0.8);
			} */
			
				#resume-section-wrapper a {
					color:rgba(0,0,0,0);
				}
				#resume-section {
					background-color:rgba(155,155,155,0.3);
					
					display:inline-block;
					box-sizing:border-box;
					padding:.8em .8em .4em .8em;
					margin:.8em 0;
					text-align:center;
					
					transition:background-color 0.1s;
				}
				#resume-section:hover {
					background-color:rgba(155,155,155,0.6);
				}
				#resume-section-caption {
					font-family:Raleway, sans-serif;
					font-weight:bold;
					color:rgb(230,230,230);
				}
		.fab {
			padding: .3em;
			margin: .25em .25em;
			width: 1em;
			border-radius: 50%;

			font-size: 2.5em;
			text-align: center;
			text-decoration: none;

			background-color:rgba(155,155,155,0.45);
			color: white;
		}
		.fab:hover {
			background-color:rgba(155,155,155,0.85);
		}

/* FOOTER */				
#footer {
	background-color:rgb(40,40,40);
	padding:4em;
}
	#footer-wrapper {
		height:100%;
		padding:.8em 0;
		border-top:0.1em solid rgb(150,150,150);
		border-bottom:0.1em solid rgb(150,150,150);
		
		flex-flow:row wrap;
	}
		.footer-component {
			margin:.5em;
		}
			#footer-logo {
				max-width: 25vh;
				flex: 1 0 0;
			}
			#footer-text {	
				color:rgb(150,150,150);
				text-align:justify;
				line-height:1.4em;
				font-size: 0.9em;
				/*flex: 2.5 0 0;*/
			}
			#footer-text div {
				margin:.5em 0
			}
	
/* GENERAL ATTRIBUTES */
.center {
	display:flex;
	align-items:center;
	justify-content:center;
}
.fullspan {
	width:100%;
	height:100%;
}